<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="container">
        <div class="row mx-auto">
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/51%2Bzb74v-TL.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://www.inephos.com/wp-content/uploads/2018/04/inephos_00568-fight-club-movie-poster.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-4 my-4" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn.europosters.eu/image/750/posters/rush-movie-poster-i18511.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>



</body>

</html>